html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scale-footer {
    padding: 0;
    flex: 1 0 auto;
}

.content-container {
    height: 100%;
}

.radius-container {
    font-family: sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .welcome-content {
        z-index: 2500 !important;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;

        .welcome-content-header {
            font-size: 32px;
            text-align: center;
            margin-bottom: 0;
            font-weight: 600;
        }

        .welcome-content-text {
            font-size: 21px;
            .algorithm {
                padding-top: 10px;

                .algorithm-item {
                    list-style: none;
                }
            }

            .algorithm-item:before {
                width: 5px;
                font-size: 20px;
                content: "\2714";
                margin-right: 15px;
                color: green;
            }
        }

        .welcome-feedback {
            font-size: 21px;
        }
    }
}

.profile-img {
    text-align: center;

    img {
        width: 70%;
        height: 100%;
    }

    .file {
        position: relative;
        overflow: hidden;
        width: 70%;
        border: none;
        font-size: 15px;
        background: #212529b8;

        input {
            position: absolute;
            opacity: 0;
            right: 0;
            top: 0;
        }

        p {
            margin: 0;
            font-size: 12px;
        }
    }


}

.profile-head {
    h5 {
        color: #333;
    }
}

.profile-tab {
    label {
        font-weight: 600;
    }
}

.profile-tab {
    p {
        font-weight: 500;
    }
}

.image-size {
    width: 50px;
    height: 50px;
}

.fill {
    object-fit: fill;
}

.radius {
    height: 90%;
    border-radius: 40px;
}

.shadow-smm {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navigate {
    padding-left: 18px;
    padding-top: 5px;
}

.navbar {
    margin-bottom: 1em;
    font-size: 18px;
    flex: 0 0 auto;

    .navbar-brand {
        font-weight: 600;
        font-family: sans-serif;
    }
}

.big-container {
    max-width: 1400px;
}

.center {
    text-align: center;
    padding: 5px 0 0 0;
}

.new-card {
    border-radius: 1.25rem;

    .new-card-header:first-child {
        border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0;
    }
}

.button-profile-photo {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.admin-navigation {
    padding-left: 0;
    padding-right: 0;
    margin-left: 35px;
    height: 70vh;
    font-size: 18px;
    border-radius: 10px;

    .ul-top {
        margin-top: 1em;
    }

    .ul-down {
        margin-bottom: 1em;
    }


    .admin-navigation-panel {
        padding: 0;

        li {
            list-style: none;
            height: 8vh;
            text-align: center;
            border: 1px solid rgba(0, 0, 0, 0.1);

            a {
                display: flex;
                height: 100%;
                color: #000000;
                text-decoration: none;
                align-items: center;
                justify-content: center;
            }
        }

        li:hover {
            background-color: rgba(0, 0, 0, 0.075);
        }
    }
}

.footer-size {
    font-size: 18px;
}

.admin-content {
    padding-left: 0;
    padding-right: 0;
    margin-left: 30px;
    height: 70vh;
    border-radius: 10px;

    h3 {
        margin-bottom: 0;
    }

    .padding-form {
        padding: 10px;
    }

    .btn-margin {
        margin-top: 10px;
    }

    .top-panel {
        margin-top: 5px;
    }

    .control-panel {
        text-align: right;
        padding-right: 15px;

        .modal-content {
            text-align: left;
        }

        a {
            color: #000000;
        }

        a:last-child {
            margin-right: 10px;
            color: #000000;
        }
    }

    .button-size {
        font-size: 16px;
    }

    table {
        margin-top: 10px;
        font-size: 16px;
    }

    .table.user-table {
        //overflow-x: scroll;

        tr td:first-child {
            width: 15%;
            text-align: left;
        }

        td:nth-of-type(2) {
            width: 15%;
        }

        td:nth-of-type(3) {
            width: 15%;
        }

        td:nth-of-type(4) {
            width: 10%;
        }

        td:nth-of-type(5) {
            width: 20%;
        }

        td:nth-of-type(6) {
            width: 10%;
        }

        td:last-child {
            width: 15%;

            .nav-link {
                padding: 0;
            }
        }

        .nav-link {
            font-size: 11px;
        }

    }

    .user-table-content {
        font-size: 18px;
        overflow-x: scroll;
    }

    .t-fields {
        //padding: 0 10px 0 10px;
        vertical-align: inherit;
    }

    .t-fields-awards {
        //padding: 3px 10px 3px 10px;
    }

    .icon-size {
        width: 15px;
        height: 15px;
    }

    .btn-new {
        padding: 3px 6px;
    }

    .btn-new-manage {
        padding: 1px 5px;
        margin-bottom: 1px;
    }

    //tr:first-child {
    //    width: 15px;
    //}

    .table-font {
        font-size: 16px;
    }

    .table-config {
        width: 95%;

        tr td:first-child {
            width: 30%;
            text-align: left;
        }

        tr td:nth-of-type(2) {
            width: 30%;
        }

        tr td:nth-of-type(3) {
            width: 30%;
        }

        tr td:last-child {
            width: 10%;
        }


    }

    .edit-field {

        input {
            width: 700px;
        }

        select {
            width: 700px;
        }

        button {
            margin-top: 20px;
        }
    }

    .admin-document-management-navigation {
        display: flex;
        justify-content: space-evenly;
        padding-top: 30px;

        .admin-document-management-navigation-item {
            display: inline-flex;
            min-height: 12vh;
            width: 25%;
            text-align: center;
            border-radius: 5px;

            a {
                text-decoration: none;
                display: flex;
                width: 100%;
                height: 100%;
                color: #000000;
                font-size: 1.5rem;
                justify-content: center;
                align-items: center;
            }

            a:hover {
                background-color: rgba(0, 0, 0, 0.075);
            }
        }
    }
}

.statistic-table {
    overflow-y: scroll;
}

.select-inputs {
    text-align: center;

    div {
        display: inline-block;
    }


    .generate-pdf-button {
        margin-left: 15px;
    }
}

.add-document-form-fields {
    margin-top: 1vh;
}

.add-document-btn {
    form {
        .btn-success {
            color: #ffffff;
            margin-top: 15px;
        }

        a {
            margin-top: 10px;
        }

        a:hover {
            text-decoration: none;
        }
    }
}

.user-content {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.alert {
    padding: 0;
    margin-bottom: 5px;
    text-align: center;
}

.students-documents-list {
    margin-top: 1.5vh;

    .alert-danger {
        margin-top: 5px;
    }

}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-adm-user {
    height: 120px;
    width: 120px;
}

.image-box {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    align-items: center;

    .border {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
    }

    .items {
        width: 50px;
        height: 50px;
        padding: 5px;
    }
}

.table-custom-scrollbar {
    position: relative;
    height: 250px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.horizontal-scroll {
    overflow-x: auto;
}

//test
.mini-submenu{
    display:none;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 9px;
    width: 42px;

    .icon-bar {
        border-radius: 1px;
        display: block;
        height: 2px;
        width: 22px;
        margin-top: 3px;
        background-color: #000;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }
}

.pull-right {
    float: none;
}

.mini-submenu:hover{
    cursor: pointer;
}

.sidebar-radius {
    border-radius: 5px;
}

#slide-submenu{
    background: rgba(0, 0, 0, 0.45);
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
}

.list-group {
    height: 70vh;

    .list-group-net {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        //height: calc(70vh - 53px);
    }

    .list-group-item {
        display: flex;
        height: 65px;
        justify-content: center;
        align-items: center;
        padding: 0;
        line-height: 20px;

        a {
            text-align: center;
            width: 95%;
            color: #1d2124;
        }
    }
}
//end test

.table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    td {
        padding: 8px;
    }

    tr td:first-child {
        width: 5%;
        text-align: center;
    }

    td:nth-of-type(2) {
        width: 45%;
    }

    td:nth-of-type(3) {
        width: 35%;
    }

    td:nth-of-type(4) {
        width: 15%;
    }

    td:last-child {
        width: 10%;
    }

    .t-fields-awards {
        vertical-align: inherit;
    }
}

.student-table-statistic {

    p {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    tr td:first-child {
        width: 5%;
        text-align: left;
    }

    td:nth-of-type(2) {
        width: 5%;
    }

    td:last-child {
        width: 10%;
    }

    .t-fields-awards {
        vertical-align: inherit;
    }
}

.table-points {
    margin-bottom: 0;

    tr td:first-child {
        width: 35%;
        text-align: left;
    }

    td:nth-of-type(2) {
        width: 20%;
    }

    td:nth-of-type(3) {
        width: 20%;
    }

    td:nth-of-type(4) {
        width: 20%;
    }

    td:last-child {
        width: 5%;
    }

    .t-fields-awards {
        vertical-align: inherit;
    }
}

.table-levels-awards {
    width: 65%;
    font-size: 22px;

    tr td:first-child {
        width: 10%;
        text-align: center;
    }

    td:nth-of-type(2) {
        width: 80%;
    }

    tr td:last-child {
        width: 10%;
    }

    .t-fields-awards .btn-new {
        padding: 3px 6px;
    }
}

.user-table-document {
    font-size: 16px;
    width: 100%;
    margin-bottom: 0;

    tr td:first-child {
        width: 10%;
        text-align: left;
    }

    td:nth-of-type(2) {
        width: 20%;
    }

    td:nth-of-type(3) {
        width: 20%;
    }

    td:nth-of-type(4) {
        width: 20%;
    }

    td:last-child {
        width: 5%;
    }
}

.table-okr {
    width: 65%;
    text-align: center;
    font-size: 20px;

    tr td:first-child {
        width: 40%;
        text-align: center;
    }

    tr td:last-child {
        width: 10%;
    }

    .t-fields-awards .btn-new {
        padding: 8px 12px;
    }

    td {
        padding: 8px;
    }
}

.h-action {
    height: 100%;
}

.action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .btn-new:first-child {
        margin-right: 3px;
    }
}

.students-profile {
    background-color: #ffffff;
    min-height: 70vh;
    //margin: 2vh 0;
    font-size: 20px;

    .students-default-logo {
        //height: 25vh;
        max-width: 125px;

        img {
            //height: 25vh;
            width: 100%;
            object-fit: cover;
            margin: 0 auto;
        }
    }

    .students-role {
        span {
            font-size: 1.3rem;
            color: rgba(0, 0, 0, 0.5);
            margin-left: 35px;
        }

        margin-bottom: 5.5vh;
    }

    .students-profile-students-name {
        font-size: 2rem;
        margin-top: 1vh;
        text-align: center;
    }

    #myTab {
        font-size: 1rem;
    }

    .tab-content thead {
        font-size: 0.8rem;
        text-align: center;
    }
}

footer {
    text-align: center;
    padding-top: 20px;
    font-size: 21px;
    flex: 0 0 auto;
}

//optimize table in user page and site
@media screen and (min-width: 240px) and (max-width: 320px) {
    .radius-container {
        height: 100%;

        .welcome-content {
            .welcome-content-header {
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 16px;
            }

            .welcome-content-text {
                font-size: 14px;

                .algorithm {
                    padding-left: 20px;
                }

                .algorithm-item:before {
                    margin-right: 10px;
                }
            }

            .welcome-feedback {
                font-size: 14px;
            }
        }
    }

    .content-container {
        height: auto;
    }

    footer {
        padding-top: 10px;
        font-size: 14px;
    }

    .navbar {
        font-size: 16px;

        .navbar-brand {
            margin-right: 0;
        }
    }

    .navbar-toggler {
        padding: 5px;
    }

    .user-table-content {
        display: block;
        height: 300px;
        font-size: 14px;
        overflow-y: auto;
        overflow-x: auto;
    }

    .select-inputs {
        .generate-pdf-button {
            margin-left: 0;
            margin-top: 10px;
        }
    }

    //admin
    .pagination {
        flex-wrap: wrap;
    }

    .mini-submenu {
        margin-bottom: 15px;
    }

    .list-group {
        height: auto;
        margin-bottom: 15px;

        .list-group-main {
            border-top-right-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
            height: 40px;

            .pull-right {
                float: none;
            }

            p {
                margin: 0;
                padding-top: 10px;
                height: 100%;
                text-align: center;
                font-family: sans-serif;
                font-weight: 600;
            }
        }
    }

    .admin-content {
        margin-left: 0;
        height: auto;

        .admin-document-management-navigation {
            padding-top: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .admin-document-management-navigation-item {
                height: auto;
                width: 190px;
                margin-bottom: 10px;
                margin-top: 10px;
                line-height: 30px;

                a {
                    height: auto;
                }
            }
        }
    }

    .table-levels-awards {
        width: 100%;
    }
}

@media screen and (min-width: 321px) and (max-width: 420px) {
    .radius-container {
        height: 100%;

        .welcome-content {
            .welcome-content-header {
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 16px;
            }

            .welcome-content-text {
                font-size: 14px;

                .algorithm {
                    padding-left: 20px;
                }

                .algorithm-item:before {
                    margin-right: 10px;
                }
            }

            .welcome-feedback {
                font-size: 14px;
            }
        }
    }

    .content-container {
        height: auto;
    }

    footer {
        padding-top: 10px;
        font-size: 14px;
    }

    .navbar {
        font-size: 16px;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .navbar-toggler {
        padding: 5px;
    }

    .user-table-content {
        display: block;
        height: 300px;
        font-size: 14px;
        overflow-y: auto;
        overflow-x: auto;
    }

    .select-inputs {
        .generate-pdf-button {
            margin-left: 10px;
            margin-top: 0;
        }
    }

    //admin
    .pagination {
        flex-wrap: wrap;
    }

    .mini-submenu {
        margin-bottom: 15px;
    }

    .list-group {
        height: auto;
        margin-bottom: 15px;

        .list-group-main {
            border-top-right-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
            height: 40px;

            .pull-right {
                float: none;
            }

            p {
                margin: 0;
                padding-top: 10px;
                height: 100%;
                text-align: center;
                font-family: sans-serif;
                font-weight: 600;
            }
        }
    }

    .admin-content {
        margin-left: 0;
        height: auto;

        .admin-document-management-navigation {
            padding-top: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .admin-document-management-navigation-item {
                height: auto;
                width: 190px;
                margin-bottom: 10px;
                margin-top: 10px;
                line-height: 30px;

                a {
                    height: auto;
                }
            }
        }
    }

    .table-levels-awards {
        width: 100%;
    }
}

@media screen and (min-width: 421px) and (max-width: 520px) {
    .radius-container {
        height: 100%;

        .welcome-content {
            .welcome-content-header {
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 26px;
            }

            .welcome-content-text {
                font-size: 18px;

                .algorithm {
                    padding-left: 20px;
                }
            }

            .welcome-feedback {
                font-size: 18px;
            }
        }
    }

    .content-container {
        height: auto;
    }

    footer {
        font-size: 18px;
    }

    .navbar {
        font-size: 18px;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .navbar-toggler {
        padding: 5px;
    }

    .user-table-content {
        display: block;
        height: 400px;
        font-size: 14px;
        overflow-y: auto;
        overflow-x: auto;
    }

    .wrap {
        padding: 0;
    }

    .select-inputs {
        .generate-pdf-button {
            margin-left: 10px;
            margin-top: 0;
        }
    }

    //admin
    .pagination {
        flex-wrap: wrap;
    }

    .mini-submenu {
        margin-bottom: 15px;
    }

    .list-group {
        height: auto;
        margin-bottom: 15px;

        .list-group-main {
            border-top-right-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
            height: 40px;

            .pull-right {
                float: none;
            }

            p {
                margin: 0;
                padding-top: 10px;
                height: 100%;
                text-align: center;
                font-family: sans-serif;
                font-weight: 600;
            }
        }
    }

    .admin-content {
        margin-left: 0;
        height: auto;

        .admin-document-management-navigation {
            padding-top: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .admin-document-management-navigation-item {
                height: auto;
                width: 190px;
                margin-bottom: 10px;
                margin-top: 10px;
                line-height: 30px;

                a {
                    height: auto;
                }
            }
        }
    }

    .table-levels-awards {
        width: 100%;
    }
}

@media screen and (min-width: 521px) and (max-width: 720px) {
    .radius-container {
        height: 100%;

        .welcome-content {
            .welcome-content-header {
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 26px;
            }

            .welcome-content-text {
                font-size: 18px;

                .algorithm {
                    padding-left: 20px;
                }
            }

            .welcome-feedback {
                font-size: 18px;
            }
        }
    }

    .content-container {
        height: auto;
    }

    footer {
        font-size: 18px;
    }

    .navbar {
        font-size: 18px;

        .navbar-brand {
            margin-right: 0;
        }
    }

    .navbar-toggler {
        padding: 5px;
    }

    .user-table-content {
        display: block;
        height: 450px;
        font-size: 14px;
        overflow-y: auto;
        overflow-x: auto;
    }

    .select-inputs {
        .generate-pdf-button {
            margin-left: 10px;
            margin-top: 0;
        }
    }

    //admin
    .pagination {
        flex-wrap: wrap;
    }

    .mini-submenu {
        margin-bottom: 15px;
    }

    .list-group {
        height: auto;
        margin-bottom: 15px;

        .list-group-main {
            border-top-right-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
            height: 40px;

            .pull-right {
                float: none;
            }

            p {
                margin: 0;
                padding-top: 10px;
                height: 100%;
                text-align: center;
                font-family: sans-serif;
                font-weight: 600;
            }
        }
    }

    .admin-content {
        margin-left: 0;
        height: auto;

        .admin-document-management-navigation {
            padding-top: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;

            .admin-document-management-navigation-item {
                height: auto;
                width: 190px;
                margin-bottom: 10px;
                margin-top: 10px;
                line-height: 30px;

                a {
                    height: auto;
                }
            }
        }
    }

    .table-levels-awards {
        width: 100%;
    }
}

@media screen and (min-width: 721px) and (max-width: 991px) {
    .radius-container {
        height: 100%;

        .welcome-content {
            .welcome-content-header {
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 26px;
            }

            .welcome-content-text {
                font-size: 18px;

                .algorithm {
                    padding-left: 20px;
                }
            }

            .welcome-feedback {
                font-size: 18px;
            }
        }
    }

    .content-container {
        height: auto;
    }

    footer {
        font-size: 18px;
    }

    .navbar {
        font-size: 18px;
    }

    .user-table-content {
        display: block;
        height: 450px;
        font-size: 14px;
        overflow-y: auto;
        overflow-x: auto;
    }

    .select-inputs {
        .generate-pdf-button {
            margin-left: 10px;
            margin-top: 0;
        }
    }

    .footer-size {
        font-size: 14px;
    }

    //admin
    .pagination {
        flex-wrap: wrap;
    }

    .mini-submenu {
        margin-bottom: 15px;
    }

    .list-group {
        height: auto;
        margin-bottom: 15px;

        .list-group-main {
            border-top-right-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
            height: 40px;

            .pull-right {
                float: none;
            }

            p {
                margin: 0;
                padding-top: 10px;
                height: 100%;
                text-align: center;
                font-family: sans-serif;
                font-weight: 600;
            }
        }
    }

    .admin-content {
        margin-left: 0;
        height: auto;

        .admin-document-management-navigation {
            padding-top: 20px;
            align-items: center;
            margin-bottom: 50px;

            .admin-document-management-navigation-item {
                height: auto;
                width: 190px;
                margin-bottom: 10px;
                margin-top: 10px;
                line-height: 30px;

                a {
                    height: auto;
                }
            }
        }
    }

    .table-levels-awards {
        width: 90%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1320px) {
    .radius {
        height: 100%;
        border-radius: 40px;
    }

    .admin-content {
        height: auto;
    }

    .list-group {
        height: auto;

        .list-group-item {
            height: 47px;
            line-height: 15px;
        }

        .list-group-main {
            border-top-right-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
            height: 50px;

            .pull-right {
                float: none;
            }

            p {
                margin: 0;
                padding: 15px 0 15px 0;
                text-align: center;
                font-family: sans-serif;
                font-weight: 600;
            }
        }
    }
}

@media screen and (min-width: 1321px) and (max-width: 1600px) {
    .admin-content {
        height: auto;
    }

    .list-group {
        height: auto;

        .list-group-item {
            height: 59px;
            font-size: 16px;
        }

        .list-group-main {
            border-top-right-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
            height: 40px;

            p {
                margin: 0;
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: center;
                font-family: sans-serif;
                font-weight: 600;
            }
        }
    }
}

@media screen and (min-width: 1601px) {
    .list-group {

        .list-group-item {
            font-size: 16px;
        }

        .list-group-main {
            border-top-right-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
            height: 40px;

            p {
                margin: 0;
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: center;
                font-family: sans-serif;
                font-weight: 600;
            }
        }
    }
}

//end optimize table

//@media screen and (min-width: 239px) and (max-width: 299px) {
//    .footer-size {
//        height: 50px;
//        line-height: 20px;
//    }
//
//    .radius {
//        border-radius: 10px;
//    }
//
//    .shadow-smm {
//        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
//    }
//
//    .navbar {
//        margin-bottom: 0;
//    }
//
//    .navbar-brand {
//        font-size: 14px;
//        font-weight: 600;
//    }
//
//    .welcome-content {
//        margin-top: 1vh;
//        margin-bottom: 0;
//        padding: 0.5rem !important;
//        line-height: 25px;
//    }
//
//    .lead ol {
//        padding-left: 0;
//        list-style: none;
//        text-align: center;
//    }
//
//    .lead ol li {
//        margin-top: 20px;
//    }
//
//    .welcome-content .welcome-content-text span {
//        line-height: 20px;
//    }
//
//    .welcome-content .welcome-content-text ol li {
//        line-height: 20px;
//    }
//
//    .lead {
//        font-size: 1rem;
//    }
//
//    footer {
//        display: block;
//        height: 35px;
//        line-height: 0.8rem;
//
//    }
//
//    .footer-span {
//        font-family: "Courier New";
//    }
//
//    .students-profile {
//        .students-profile-students-name {
//            font-size: 1.2rem !important;
//        }
//
//        .students-role {
//            margin-bottom: 3vh !important;
//
//            span {
//                font-size: 1rem !important;
//                margin-left: 0;
//            }
//
//            text-align: center;
//        }
//
//        #myTab {
//            font-size: 1rem;
//            font-weight: 600;
//        }
//
//        .tab-content thead {
//            font-size: 0.8rem;
//            text-align: center;
//        }
//
//        .table th, .table td {
//            //padding: 0.3rem;
//        }
//
//        .nav-link {
//            padding: 0.4rem 1rem;
//        }
//    }
//
//    //.wrap {
//    //    padding: 1rem !important;
//    //}
//
//    .admin-navigation-panel {
//        font-size: 0.1rem;
//    }
//}

//@media screen and (min-width: 300px) and (max-width: 349px) {
//    .navbar {
//        margin-bottom: 0;
//    }
//
//    .welcome-content {
//        margin-top: 1vh;
//        margin-bottom: 0;
//        padding: 1rem !important;
//        line-height: 30px;
//    }
//
//    .lead ol {
//        padding-left: 0;
//        list-style: none;
//        text-align: center;
//    }
//
//    .lead ol li {
//        margin-top: 15px;
//    }
//
//    .welcome-content .welcome-content-text span {
//        line-height: 20px;
//    }
//
//    .welcome-content .welcome-content-text ol li {
//        line-height: 25px;
//    }
//
//    .lead {
//        font-size: 1rem;
//    }
//
//    .footer-span {
//        font-size: 0.6rem;
//    }
//
//    .students-profile {
//        .students-profile-students-name {
//            font-size: 1.2rem !important;
//        }
//
//        .students-role {
//            margin-bottom: 3vh !important;
//
//            span {
//                font-size: 1rem !important;
//                margin-left: 0;
//            }
//
//            text-align: center;
//        }
//
//        #myTab {
//            font-size: 0.7rem;
//            font-weight: 600;
//        }
//
//        .tab-content thead {
//            font-size: 0.7rem;
//            text-align: center;
//        }
//
//        .table th, .table td {
//            //padding: 0.3rem;
//        }
//
//        .nav-link {
//            padding: 0.4rem 0.2rem;
//        }
//    }
//
//    //.wrap {
//    //    padding: 1rem !important;
//    //}
//
//    .admin-navigation-panel {
//        font-size: 0.1rem;
//    }
//}
//
//@media screen and (min-width: 350px) and (max-width: 449px) {
//    .navbar {
//        margin-bottom: 0;
//    }
//
//    .welcome-content {
//        margin-top: 1vh;
//        margin-bottom: 0;
//        padding: 1.5rem !important;
//    }
//
//    .welcome-content .welcome-content-header {
//        font-size: 1.6rem;
//        text-align: center;
//    }
//
//    .lead {
//        font-size: 1rem;
//    }
//
//    .lead ol {
//        padding-left: 15px;
//    }
//
//    .students-profile {
//        .students-default-logo {
//            max-width: 100%;
//            text-align: center;
//            margin-bottom: 1vh;
//
//            img {
//                width: 100%;
//                object-fit: cover;
//            }
//        }
//
//        .students-profile-students-name {
//            font-size: 1.2rem !important;
//        }
//
//        .students-role {
//            margin-bottom: 3vh !important;
//
//            span {
//                font-size: 1rem !important;
//                margin-left: 0;
//            }
//
//            text-align: center;
//        }
//
//        #myTab {
//            font-size: 0.8rem;
//            font-weight: 600;
//        }
//
//        .tab-content thead {
//            font-size: 0.7rem;
//            text-align: center;
//        }
//
//        .table th, .table td {
//            //padding: 0.4rem;
//        }
//
//        .nav-link {
//            padding: 0.3rem 0.5rem;
//        }
//    }
//
//    //.wrap {
//    //    padding: 1rem !important;
//    //}
//
//    .admin-navigation-panel {
//        font-size: 0.1rem;
//    }
//}

//@media screen and (min-width: 450px) and (max-width: 575px) {
//    .lead {
//        font-size: 1rem;
//    }
//
//    .lead ol {
//        padding-left: 25px;
//    }
//
//    .students-profile {
//        .students-default-logo {
//            max-width: 100%;
//            text-align: center;
//            margin-bottom: 1vh;
//
//            img {
//                width: 100%;
//                object-fit: cover;
//            }
//        }
//
//        .students-profile-students-name {
//            font-size: 1.3rem !important;
//            line-height: 30px;
//        }
//
//        .students-role {
//            margin-bottom: 4vh !important;
//
//            span {
//                font-size: 1rem !important;
//                margin-left: 0;
//            }
//
//            text-align: center;
//        }
//
//        #myTab {
//            font-size: 0.8rem;
//            font-weight: 600;
//        }
//
//        .tab-content thead {
//            font-size: 0.7rem;
//            text-align: center;
//        }
//
//        .table th, .table td {
//            //padding: 0.4rem;
//        }
//
//        .nav-link {
//            padding: 0.3rem 0.7rem;
//        }
//
//    }
//
//    //.wrap {
//    //    padding: 2rem !important;
//    //}
//
//    .admin-navigation-panel {
//        font-size: 0.1rem;
//    }
//
//    footer {
//        padding-top: 15px;
//        font-size: 16px;
//        //height: 8vh;
//        //line-height: 8vh;
//    }
//}

//@media screen and (min-width: 576px) and (max-width: 766px) {
//    .students-profile {
//        padding: 2rem;
//
//        .students-profile-students-name {
//            font-size: 1.3rem !important;
//            margin-top: 0;
//        }
//
//        .students-role {
//            margin-bottom: 4vh !important;
//            text-align: center;
//
//            span {
//                font-size: 1.2rem !important;
//                margin-left: 0;
//            }
//        }
//    }
//
//    .admin-navigation-panel {
//        font-size: 0.1rem;
//    }
//
//    footer {
//        padding-top: 15px;
//        font-size: 16px;
//        //height: 8vh;
//        //line-height: 8vh;
//    }
//}

//@media screen and (min-width: 768px) and (max-width: 991px) {
//    .navbar {
//        margin-bottom: 0;
//        padding: 0 0 0 0;
//    }
//
//    .admin-content {
//        margin-left: 0;
//    }
//
//    .admin-navigation {
//        margin-left: 0;
//        height: 7vh;
//        margin-bottom: 10px;
//
//        .admin-navigation-panel {
//            display: flex;
//            justify-content: center;
//
//            li {
//                list-style: none;
//                height: 7vh;
//                text-align: center;
//                border: 1px solid rgba(0, 0, 0, 0.1);
//            }
//        }
//
//        .ul-top {
//            margin-top: 0;
//        }
//
//        .ul-down {
//            margin-bottom: 0;
//        }
//    }
//
//    footer {
//        padding-top: 15px;
//        font-size: 16px;
//        //height: 8vh;
//        //line-height: 8vh;
//    }
//}
//
//@media screen and (min-width: 767px) and (max-width: 991px) {
//    .admin-navigation-panel {
//        font-size: 0.8rem;
//    }
//}
//
//@media screen and (min-width: 767px) and (max-width: 991px) {
//    .students-profile-students-name {
//        font-size: 1.7rem !important;
//    }
//
//    .admin-navigation-panel {
//        font-size: 0.8rem;
//    }
//}
//
//@media screen and (min-width: 992px) and (max-width: 1381px) {
//    .admin-content {
//        .btn-new {
//            //padding: 0;
//            //width: 80px;
//        }
//
//        .user-table {
//            font-size: 16px;
//        }
//
//        .button-size {
//            font-size: 12px;
//        }
//
//        .table-font {
//            font-size: 0.9rem;
//        }
//    }
//
//    .admin-navigation {
//        font-size: 12px;
//    }
//}
//
//@media screen and (min-width: 992px) and (max-width: 1231px) {
//    .content-container {
//        height: auto;
//    }
//
//    .admin-content {
//        .admin-document-management-navigation {
//            .admin-document-management-navigation-item {
//                width: 30%;
//                min-height: 100px;
//            }
//        }
//
//        .user-table {
//            display: block;
//            font-size: 14px;
//            overflow-y: auto;
//        }
//
//        .button-size {
//            display: flex;
//            font-size: 12px;
//        }
//
//        .table {
//            font-size: 12px;
//        }
//
//        .table-okr {
//            font-size: 15px;
//
//            thead {
//                font-size: 16px;
//            }
//        }
//
//        .table-levels-awards {
//            font-size: 15px;
//
//            .t-fields-awards .btn-new .btn-new-manage {
//                padding: 0 5px;
//            }
//        }
//    }
//
//
//    .radius-container {
//        .welcome-content {
//            height: 100%;
//
//            .welcome-content-text, .welcome-feedback {
//                font-size: 18px;
//            }
//
//            .welcome-content-header {
//                font-size: 25px;
//            }
//        }
//    }
//
//    .table td {
//        padding: 6px;
//    }
//
//    .footer-size {
//        font-size: 12px;
//    }
//}
//
//@media screen and (min-width: 1382px) {
//    .radius-container {
//        .welcome-content {
//            height: 90%;
//
//            .welcome-content-text, .welcome-feedback {
//                font-size: 22px;
//            }
//        }
//
//    }
//}
