.welcome-content {
  margin-left: 40vw;
  width: 30vw;
  min-height: calc(50vh - 10vh);
  line-height: 40px;
}

.admin-navigation {
  margin-left: 0;
  margin-right: 0;
  height: 80vh;
  font-size: 1rem;
}

.admin-navigation .admin-navigation-panel {
  padding: 0;
}

.admin-navigation .admin-navigation-panel li {
  list-style: none;
  width: 16.1vw;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.admin-navigation .admin-navigation-panel li a {
  display: block;
  height: 100%;
  color: #000000;
  text-decoration: none;
}

.admin-navigation .admin-navigation-panel li:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.admin-content {
  margin-left: 0;
  margin-right: 0;
  height: 80vh;
}

.admin-content .control-panel {
  text-align: right;
}

.admin-content .control-panel .modal-content {
  text-align: left;
}

.admin-content table {
  margin-top: 10px;
  display: block;
  font-size: 1.3rem;
}

.admin-content .admin-document-management-navigation .admin-document-management-navigation-item {
  display: -webkit-inline-box;
  display: inline-flex;
  height: 30vh;
  width: 20vw;
  line-height: 30vh;
  margin-right: 1vw;
  text-align: center;
}

.admin-content .admin-document-management-navigation .admin-document-management-navigation-item a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: #000000;
  font-size: 1.5rem;
}

.admin-content .admin-document-management-navigation .admin-document-management-navigation-item a:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.select-inputs {
  margin-left: 20vw;
}

.select-inputs div {
  display: inline-block;
}

.select-inputs .generate-pdf-button {
  display: inline;
  margin-left: 20vw;
}

.add-document-form-fields {
  margin-top: 1vh;
  margin-left: 20vw;
}

.students-documents-list {
  margin-top: 1.5vh;
}

.students-documents-list table {
  margin-left: 20vw;
  width: 70vw;
}

.students-documents-list table tr img {
  width: 100px;
  height: 100px;
}

.students-documents-list table tr .document-remove-btn {
  font-size: 16px;
  border-radius: 50%;
}

footer {
  text-align: center;
  height: 10vh;
  line-height: 10vh;
}

